/* Estilos específicos para a página de Atividades */

/* Estilo do conteúdo principal */
.main-atividades {
    padding: 3rem 5rem;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1, h2 {
    color: #006400;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .intro {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }
  
  .grid-atividades {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 3rem;
  }


  
  .atividade {
    background-color: #e9f7e9;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .atividade:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
  
  .atividade h2 {
    font-size: 1.6rem;
    color: #006400;
    margin-bottom: 1rem;
  }
  
  .atividade p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }
  
  .atividade img {
    width: 100%;
    height: 200px; 
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 1rem; 
  }
  
  
  /* Seção de Informações adicionais */
  .informacoes {
    background: linear-gradient(135deg, #ffebcc 0%, #f4e3b2 100%);
    padding: 2rem;
    border-radius: 8px;
    margin-top: 3rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .informacoes p {
    font-size: 1.1rem;
    color: #555;
  }
  