* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
  }

  .logo {
    width: 9rem;;
  }
  
  .header {
    background-color: #006400;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  .header .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
  }
  
  .navbar a:hover {
    background-color: #009900;
    border-radius: .5rem;
  }
  
  /* Footer */
  .footer {
    background-color: #006400;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
  }
  