.main-ingressos {
    padding: 3rem 5rem;
    font-family: Arial, sans-serif;
  }
  
  h1, h2 {
    color: #006400;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .intro {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  .form-reserva {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
  }
  
  .form-reserva label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  .form-reserva input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .form-reserva button {
    background-color: #006400;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .form-reserva button:hover {
    background-color: #004d00;
  }
  
  .mensagem {
    background-color: #e9f7e9;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 2rem;
    font-size: 1.2rem;
    text-align: center;
    color: #333;
  }
  
  .footer {
    background-color: #006400;
    color: #fff;
    padding: 1rem;
    text-align: center;
    margin-top: 3rem;
  }
  